@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
}


#airbnb-container {
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;

    .bold { font-weight: bold; }

    h2 {
        font-size: 0.75rem;
        font-weight: normal;
    }

    .airbnb-navbar {
        box-shadow: 0px 2.98px 7.46px rgba(0, 0, 0, 0.1);
        display: flex;
        height: 70px;
        margin: 0 auto;
        max-width: 1000px;
        padding: 20px 36px;

        .navbar-logo { max-width: 100px; }
    }

    .airbnb-hero {
        display: flex;
        flex-direction: column;
        
        margin: 0 auto;
        max-width: 700px;
        padding: 20px;

        img {
            display: flex;
            align-self: flex-end;

            padding: 30px 0;
            width: 100%;

            /* @media (min-width: 768px) { padding: 20px; } */
        }

        h1 {
            font-size: 2.3rem;
            line-height: 1;
            margin-block-start: 20px;
            margin-block-end: 16px;
        }

        p {
            font-size: 1rem;
            margin-block-start: 0;
            margin-block-end: 0;
            max-width: 320px;
        }
    }

    .airbnb-card-list {
        display: flex;
        flex-wrap: nowrap;
        
        margin: 0 auto;
        max-width: 700px;
        overflow-x: auto;

        .airbnb-card {
            display: flex;
            flex: 0 0 auto;
            flex-direction: column;
    
            font-size: 0.75rem;
            margin: 0 1rem;
            position: relative;
            width: 175px;

            .card-badge {
                background-color: #fff;
                border-radius: 2px;
                font-weight: bold;
                left: 8px;
                padding: 2px 6px;
                position: absolute;
                top: 8px;
            }
    
            .card-img {
                border-radius: 10px;
                height: 243px;
                margin-bottom: 10px;
                width: 100%;
            }
    
            .card-info {
                display: flex;
                align-items: center;
    
                img { height: 14px; }
    
                span {
                    &:not(:first-of-type) { color: #918E9B; }
    
                    &:not(:last-of-type) {
                        display: flex;
                        align-items: center;
                    }
                }
            }
    
            h2 {
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            p { margin-top: auto; }
        }
    }
}


#memegenerator-container {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 900px;

    .bold { font-weight: bold; }

    .memegenerator-header {
        display: flex;
        align-items: center;

        background: linear-gradient(90deg, #e9348f 2%, #6ee1f0 100%);
        color: #fff;
        padding: 20px;

        h2 {
            letter-spacing: 1.5px;
            margin: 0;
        }
    }

    .memegenerator-form-container {
        padding: 30px;
        
        .memegenerator-form {
            .memegenerator-form-inputs {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media ( min-width: 768px ) {
                    flex-direction: row;
                }

                input {
                    border: 1px solid grey;
                    border-radius: 8px;
                    font-size: 1.2rem;
                    height: 50px;
                    margin-block-start: 20px;
                    text-indent: 12px;
                    width: 100%;

                    @media ( min-width: 768px ) {
                        height: 45px;
                        margin-block-start: 0;
                        width: 49%;
                    }
                }
            }

            button {
                display: flex;
                justify-content: center;

                background-color: rgba(233, 52, 143, 0.85);
                border: none;
                border-radius: 10px;
                color: #fff;
                cursor: pointer;
                font-family: "Poppins", sans-serif;
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 3px;
                margin: 40px auto 0 auto;
                min-width: 250px;
                padding: 14px;
                width: 40%;

                &:hover { background-color: rgba(233, 52, 143, 0.7); }
                &:active { background-color: rgba(233, 52, 143, 1); }

                @media ( min-width: 768px ) {
                    font-size: 1.2rem;
                }
            }
        }

        .memegenerator-form-image-container {
            margin: 40px auto 10px auto;
            max-width: 500px;
            position: relative;

            .memegenerator-form-image {
                display: flex;
                width: 100%;
            }

            .memegenerator-form-toptext, .memegenerator-form-bottomtext {
                color: #fff;
                font-size: 2rem;
                left: 0;
                letter-spacing: 2px;
                margin: 0;
                padding: 20px;
                position: absolute;
                right: 0;
                text-align: center;
                text-shadow:
                    2px 2px 0 #000,
                    -2px -2px 0 #000,
                    2px -2px 0 #000,
                    -2px 2px 0 #000,
                    0 2px 0 #000,
                    2px 0 0 #000,
                    0 -2px 0 #000,
                    -2px 0 0 #000,
                    2px 2px 5px #000;
                text-transform: uppercase;
            }

            .memegenerator-form-toptext {
                top: 0;
            }

            .memegenerator-form-bottomtext {
                bottom: 0;
            }
        }
    }
}


#tenzies-container {
    background-color: rgb(252, 252, 221);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .tenzies-game {
        background-color: #fa87bd;
        border-radius: 20px;
        /* height: 450px; */
        font-family: "Poppins", sans-serif;
        max-width: 650px;
        min-width: 300px;
        padding: 1rem;
        width: 80%;

        .tenzies-box {
            display: flex;
            flex-direction: column;
            justify-content: center;

            background-color: #f5f5f5;
            border-radius: 20px;
            height: 100%;
            overflow: hidden;
            padding: 30px 20px;
            width: 100%;

            .tenzies-title {
                font-size: 2rem;
                margin: 0;
                text-align: center;
            }
            
            .tenzies-instructions {
                /* font-weight: bold; */
                font-size: 1.2rem;
                margin: 10px auto 0 auto;
                max-width: 500px;
                text-align: center;
            }

            .tenzies-dice {
                display: grid;
                grid-template: auto auto / repeat(5, 1fr);
                gap: 20px;
                margin-top: 40px;
                user-select: none;

                .tenzies-die {
                    background-color: #fff;
                    border-radius: 10px;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                    height: 50px;
                    margin: 0 auto;
                    width: 50px;
    
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    .tenzies-die-number {
                        font-size: 1.5rem;
                        font-weight: bold;
                        margin: 0;
                        padding: 0;
                    }
                }
            }

            .tenzies-button {
                background-color: rgb(112, 137, 247);
                border: none;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                display: flex;
                font-family: "Poppins", sans-serif;
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 3px;
                margin: 40px auto 0 auto;
                padding: 10px 30px;
            }

            .tenzies-button:hover { background-color: rgb(132, 153, 247); }
            .tenzies-button:active { background-color: rgb(90, 119, 250); }
        }
    }
}


#foodie-container {
    background-color: #f6f6f6;
    font-family: "Reem Kufi", sans-serif;
    height: 100vh;
    margin: 0 auto;
    max-width: 1900px;
    overflow-x: hidden;
    padding: 0 2rem;
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    img {
        height: auto;
        max-width: 100%;
    }

    .primary-button {
        background-color: white;
        border-radius: 5rem;
        border: none;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: 600;
        outline: none;
        padding: 0.9rem 1.75rem;
        transition: 0.2s;

        @media (max-width: 1000px) {
            font-size: 1rem;
        }
    }

    .primary-button:hover {
        background-color: rgb(234, 234, 234);
    }

    .primary-heading {
        font-size: clamp(2rem, 5vw, 4rem);
        color: #4c4c4c;
        max-width: 600px;
    }

    .primary-text {
        color: #6a6a6a;
        font-size: clamp(1rem, 3vw, 1.5rem);
        margin: 1.5rem 0rem;
        max-width: 500px;
    }

    .secondary-button {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #fe9e0d;
        border-radius: 5rem;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: 600;
        outline: none;
        padding: 1rem 2.5rem;
        transition: 0.2s;

        svg {
            font-size: 1.5rem;
            margin-left: 0.75rem;
        }

        @media (max-width: 800px) {
            cursor: pointer;
            font-size: 1rem;
            padding: 0.8rem 2rem;
        }
    }

    .secondary-button:hover {
        background-color: #e48f0f;
    }

    nav.navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 1rem;
        min-height: 90px;
        width: 100%;

        .nav-logo-container {
            @media (max-width: 800px) {
                max-width: 140px;
            }
        }

        ul.navbar-links-container {
            display: flex;
            align-items: center;

            list-style-type: none;

            @media (max-width: 800px) {
                display: none;
                flex-direction: column;
            }

            li {
                a {
                    color: black;
                    font-size: 1.1rem;
                    font-weight: 600;
                    margin-right: 3rem;
                    text-decoration: none;

                    .navbar-cart-icon {
                        font-size: 1.15rem;
                    }

                    @media (max-width: 1000px) {
                        font-size: 1rem;
                        margin-right: 1rem;
                    }
                }
            }
        }

        .navbar-menu-container {
            display: none;

            @media (max-width: 800px) {
                display: flex;
            }

            svg {
                cursor: pointer;
                font-size: 1.5rem;
            }
        }
    }

    .main-section-container {
        display: flex;
        padding-top: 3rem;
        position: relative;

        @media (max-width: 800px) {
            align-items: center;
            flex-direction: column-reverse;
            justify-content: center;
        }

        .main-bannerImage-container {
            max-width: 700px;
            position: absolute;
            right: -170px;
            top: -100px;
            z-index: -2;

            @media (max-width: 1000px) {
                max-width: 600px;
            }

            @media (max-width: 800px) {
                max-width: 450px;
            }

            @media (max-width: 600px) {
                display: none;
            }
        }
        
        .main-text-section {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            flex: 1;
            justify-content: center;

            @media (max-width: 800px) {
                align-items: center;
                justify-content: center;
                margin-top: 4rem;
            }
        }

        .main-image-section {
            flex: 1;
            max-width: 600px;

            @media (max-width: 800px) {
                max-width: 400px;
                width: 100%;
            }
        }
    }
}