@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
}


#airbnb-container {
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;

    .bold { font-weight: bold; }

    h2 {
        font-size: 0.75rem;
        font-weight: normal;
    }

    .airbnb-navbar {
        box-shadow: 0px 2.98px 7.46px rgba(0, 0, 0, 0.1);
        display: flex;
        height: 70px;
        margin: 0 auto;
        max-width: 1000px;
        padding: 20px 36px;

        .navbar-logo { max-width: 100px; }
    }

    .airbnb-hero {
        display: flex;
        flex-direction: column;
        
        margin: 0 auto;
        max-width: 700px;
        padding: 20px;

        img {
            display: flex;
            align-self: flex-end;

            padding: 30px 0;
            width: 100%;

            /* @media (min-width: 768px) { padding: 20px; } */
        }

        h1 {
            font-size: 2.3rem;
            line-height: 1;
            margin-block-start: 20px;
            margin-block-end: 16px;
        }

        p {
            font-size: 1rem;
            margin-block-start: 0;
            margin-block-end: 0;
            max-width: 320px;
        }
    }

    .airbnb-card-list {
        display: flex;
        flex-wrap: nowrap;
        
        margin: 0 auto;
        max-width: 700px;
        overflow-x: auto;

        .airbnb-card {
            display: flex;
            flex: 0 0 auto;
            flex-direction: column;
    
            font-size: 0.75rem;
            margin: 0 1rem;
            position: relative;
            width: 175px;

            .card-badge {
                background-color: #fff;
                border-radius: 2px;
                font-weight: bold;
                left: 8px;
                padding: 2px 6px;
                position: absolute;
                top: 8px;
            }
    
            .card-img {
                border-radius: 10px;
                height: 243px;
                margin-bottom: 10px;
                width: 100%;
            }
    
            .card-info {
                display: flex;
                align-items: center;
    
                img { height: 14px; }
    
                span {
                    &:not(:first-of-type) { color: #918E9B; }
    
                    &:not(:last-of-type) {
                        display: flex;
                        align-items: center;
                    }
                }
            }
    
            h2 {
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            p { margin-top: auto; }
        }
    }
}


#memegenerator-container {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 900px;

    .bold { font-weight: bold; }

    .memegenerator-header {
        display: flex;
        align-items: center;

        background: linear-gradient(90deg, #e9348f 2%, #6ee1f0 100%);
        color: #fff;
        padding: 20px;

        h2 {
            letter-spacing: 1.5px;
            margin: 0;
        }
    }

    .memegenerator-form-container {
        padding: 30px;
        
        .memegenerator-form {
            .memegenerator-form-inputs {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media ( min-width: 768px) {
                    flex-direction: row;
                }

                input {
                    border: 1px solid grey;
                    border-radius: 8px;
                    font-size: 1.2rem;
                    height: 50px;
                    margin-block-start: 20px;
                    text-indent: 12px;
                    width: 100%;

                    @media ( min-width: 768px) {
                        height: 45px;
                        margin-block-start: 0;
                        width: 49%;
                    }
                }
            }

            button {
                display: flex;
                justify-content: center;

                background-color: rgba(233, 52, 143, 0.85);
                border: none;
                border-radius: 10px;
                color: #fff;
                cursor: pointer;
                font-family: "Poppins", sans-serif;
                font-size: 1.2rem;
                font-weight: bold;
                letter-spacing: 3px;
                margin: 40px auto 0 auto;
                min-width: 250px;
                padding: 14px;
                width: 40%;

                &:hover { background-color: rgba(233, 52, 143, 0.7); }
                &:active { background-color: rgba(233, 52, 143, 1); }
            }
        }

        .memegenerator-form-image-container {
            margin: 40px auto 10px auto;
            max-width: 500px;
            position: relative;

            .memegenerator-form-image {
                display: flex;
                
                width: 100%;
            }

            .memegenerator-form-toptext, .memegenerator-form-bottomtext {
                color: #fff;
                font-size: 2rem;
                left: 0;
                letter-spacing: 2px;
                margin: 0;
                padding: 20px;
                position: absolute;
                right: 0;
                text-align: center;
                text-shadow:
                    2px 2px 0 #000,
                    -2px -2px 0 #000,
                    2px -2px 0 #000,
                    -2px 2px 0 #000,
                    0 2px 0 #000,
                    2px 0 0 #000,
                    0 -2px 0 #000,
                    -2px 0 0 #000,
                    2px 2px 5px #000;
                text-transform: uppercase;
            }

            .memegenerator-form-toptext {
                top: 0;
            }

            .memegenerator-form-bottomtext {
                bottom: 0;
            }
        }
    }
}