body {
    /*background-color: #ffb8c291;*/
}

.candycrush-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .score {
        background-color: #fe64a8;
        border-radius: 20px;
        box-shadow: inset 1px 1px 20px 0px #f74687;
        margin: 2rem 0;
        padding: 0 3rem;

        h1, h2 {
            color: #fff;
            text-align: center;
        }

        h1 {
            font-size: 1.5rem;
            margin-block-start: 0.3rem;
            margin-block-end: 0;
        }

        h2 {
            font-size: 2rem;
            margin-block-start: 0.3rem;
            margin-block-end: 0.3rem;
        }
    }

    .game-container {
        /*border: 12px solid #fee440;*/
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

        .game {
            display: flex;
            flex-wrap: wrap;
    
            background-color: rgba(0, 48, 97, 0.4);
            border-radius: 15px;
            box-shadow: inset 1px 1px 20px 0px rgb(0 13 171 / 50%);
            height: 560px;
            overflow: hidden;
            width: 560px;
    
            img {
                border-top: 1px solid rgba(223, 239, 255, 0.4);
                border-bottom: 1px solid rgba(223, 239, 255, 0.4);
                border-left: 1px solid rgba(0, 48, 97, 0.4);
                border-right: 1px solid rgba(0, 48, 97, 0.4);
                cursor: pointer;
                height: 70px;
                width: 70px;
            }
        }
    }
    
}